<!-- app/templates/auth/register.html -->

{% extends "layoutDashboard.html" %}

{% block content %}

 <h2> Registro </h2>
 <div class="conteiner">
<form action="{{ url_for('auth.register') }}" method="post">
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit"><a href="{{ url_for('auth.registerExitoso') }}" style="color: white; text-decoration: none;"> Registrarse </a></button>
</form>
</div>

{% endblock %}
