{% extends 'layoutDashboard.html' %}

{% block content %}
<div class="container py-4">
  <h1 class="text-center mb-5 fw-bold text-primary">Mis reservas</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for reserva in reservas %}
    <div class="col">
      <div class="card h-auto shadow rounded-4">
        <img src="{{ reserva[7] }}" class="card-img-top rounded-top-4" style="height: 200px; object-fit: cover;" alt="Imagen destino" >
        <div class="card-body p-4">
          <h5 class="card-title fw-bold text-primary">{{ reserva[3] }}</h5> <!-- destino -->
          <p class="card-text mb-1"><strong>Pasajero:</strong> {{ reserva[1] }}</p>
          <p class="card-text mb-1"><strong>Email:</strong> {{ reserva[2] }}</p>
          <p class="card-text mb-1"><strong>Fecha:</strong> {{ reserva[4] }}</p>
          <p class="card-text mb-1"><strong>Personas:</strong> {{ reserva[5] }}</p>
          <p class="card-text mb-1"><strong>Precio:</strong> ${{ reserva[6]|format_price }}</p>
        <form action="{{ url_for('dashboard.eliminar_reserva', id=reserva[0]) }}" method="POST" >
        <button type="submit" class="btn btn-outline-danger ">Eliminar</button>
        </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="text-center mt-5">
    <a href="{{ url_for('dashboard.dashboardreserva') }}" class="btn btn-primary">Volver</a>
  </div>
  
</div>
{% endblock %}
