{% extends 'layoutDashboard.html' %}

{% block content %}
<div class="container my-0">
    <div id="contenedor1" class="row justify-content-center">
        <div class="col-lg-10">
            
            <h1 id="mis" class="text-center mb-2"> Mis reservas </h1>
            
            <!-- Tabla -->
            <table class="table table-striped table-bordered text-center">
                <thead class="table-black ">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>                   
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Número de Personas</th>
                        <th>Precio</th>
                        <th>accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva[0] }}</td>
                        <td>{{ reserva[1] }}</td>
                        <td>{{ reserva[2] }}</td>
                        <td>{{ reserva[3] }}</td>
                        <td>{{ reserva[4] }}</td>
                        <td>{{ reserva[5] }}</td>
                        <td>{{ reserva[6] }}</td>
                        <td>
                            <!-- Botón Eliminar -->
                        <form action="{{ url_for('dashboard.eliminar_reserva', id=reserva[0]) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger eliminar-btn">Eliminar</button>
                        </form>
                        </td> 
 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Botón Volver -->
            <div id="formR" class="text-center mt-4">
                <a href="{{ url_for('dashboard.dashboardreserva') }}" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
