{% extends 'layoutDashboard.html' %}

{% block content %}

<h1 class="text-center mb-0"> Generar reserva</h1>
<form method="POST" action="{{ url_for('dashboard.dashboardreserva') }}">
    <input type="hidden" name="paquete_id" value="{{ paquete_id }}">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="date" name="fecha_reserva" required>
    <input type="number" name="numero_personas" placeholder="Número de Personas" required>
    <button type="submit" class="btn btn-primary">Confirmar reserva</button>
</form>


<div class="text-center mt-4">
    <a href="{{ url_for('dashboard.dashboardlistareserva') }}" class="btn btn-primary"> Mis reservas</a>
</div>

{% endblock %}